<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>custom scrollbar</title>
</head>
<body>
    <section class="playground">
        <h1 class="title">Custom Scrollbar</h1>
        <p class="description">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Blanditiis cupiditate esse, nisi fugiat impedit, sequi dolorem quod, totam iusto culpa rerum aliquid animi! Temporibus recusandae, at veritatis praesentium consequuntur totam!
        </p>
        <div class="container">
            
        </div>
    </section>
</body>
</html>