.playground {
    height: 100vh;
    width: 100vw;
    background-color: aquamarine;
    padding: 4rem;
    color: #222;
    font-family: Futura, Arial, Helvetica, sans-serif;

    h1 {
        font-size: 3.5rem;
        margin-bottom: 1rem;
    }

    code {
        background-image: linear-gradient(
        transparent 70%,
        rgba(255, 255, 0, 80%) 80%
        );
    }

    .container {
        margin: 3rem 0;
    }
    
    .info-box {
        background-color: rgb(221,221,221, .5);
        color: #303030;
        padding: 1rem;
    }
}